/* Pc */
@media screen  and (min-width: 992px) {
    .mobile-header{
        display: none;
    }
    .show-mobile{
        display: none;
    }
}
/* Tablet and Moblie */
@media screen  and (max-width: 991.98px) {
    .navbar{
        position: relative;
    }
    .navbar .logo{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .navbar ul{
        display: none;
    }
    .toggle-menu svg{
        margin-left: 10px;
        width: 24px;
        color :#000336;
    }
    .menu-overlay{
        position: fixed;
        z-index:100;
        inset:0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu-drawer{
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 101;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    /* ẩn hiện navbar */
    .menu-checkbox:checked ~ .menu-overlay{
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~.menu-drawer{
        transform: translateX(0);

    }
    .menu-drawer ul{
        margin-top: 32px;
    }
    .menu-drawer ul a{
        color: #333;
        display: block;
        padding: 14px 0;
        font-weight: 500;
    }
    .separate {
        border-top:1.5px solid  #ebebeb;
    }
    .hero{
        margin-top: 100px;
    }
    .hero-img{
        display: none;
    }
    .hero .info{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .hero .desc{
        width: 80%;
        margin: 30px auto auto;
    }
    .client .images{
        flex-wrap: wrap;
        justify-content: center;
    }
    .guides-item {
        flex:1;
        margin: 0;
    }
    .feature .list{
        grid-template-columns: 1fr 1fr;
    }
    .stats .row{
        flex-direction: column;
    }
    .stats .img-block, .stats .info {
        width: 100%;
    }
    .stats .img-block{
        order: 2;
    }
    .stats .info {
        order: 1;
        padding:0 ;
    }
    .stats .sub-title{
        
        width: 64%;
    }
    .stats .info .desc{
        width: 100%;
        margin-bottom: 35px;
    }
    .stats-trend{
        left: 50%;
        transform: translateX(-50%);
    }
    .stats .row-qty{
        flex-direction: row;
        font-size: 5.5rem;
    }
    .subscription .image{
        display: none;
    }
    .footer .row{
        display: grid;
        grid-template-columns:1fr 2fr ;
        row-gap: 80px;
    }

}
/* Tablet */
@media screen  and (min-width: 768px) and (max-width: 991.98px) {
    .show-mobile{
        display: none;
    }
}
/* Moblie */
@media screen  and (max-width: 767.98px) {
   .menu-drawer{
    padding: 40px;
    inset: 0 25% 0 0;
   }
   .navbar .action{
    display: none;
   }
   .header{
    height: calc(100vh - 80px);
   }
   .hero{
    margin-top: 29px;
   }
   .hero .title{
    font-size: 4.2rem;
    margin-top: 20px;
    line-height: 6.6rem;
   }
   .hero .desc{
    width: 100%;
   }
   .hide-on-mobile{
    display: none;
   }
   .client .images{
    row-gap: 20px;
   }
   .guides{
    margin-top: 0;
   }
   .list-guides{
    flex-direction: column;
    row-gap: 32px;
   }
   .feature{
    margin-top: 0;
   }
   .feature .link{
    display: none;
   }
   .feature .list{
    grid-template-columns: 1fr;
   }
   .feature  .view-all{
    display: flex;
    justify-content: center;
    margin-top: 60px;
   }
   .stats .sub-title{
    width: 100%;
   }
   .stats .img-block .image{
    width: 100%;
   }
   .stats-trend{
    left: 0;
    transform:none;
   }
   .stats .row-qty{
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
   }
   .subscription .info{
    padding: 0 40px;
   }
   .footer .row{
    grid-template-columns: 1fr;
   }
   .footer .row-bottom{
    display: flex;
    flex-direction: column;
    row-gap:15px ;
   }
   .row-bottom img{
    width: 70%;
   }
}